extends layout

mixin blogPostMixin(heading, date, author, body)
  div.blog-post
    h2= heading
    span.date Published on #{date}
    span.author Written by #{author}
    br
    br
    p= body
    a(href= 'entry?title='+heading) Read More

    
block content
  - for (var i = 0; i< blogData.length; i++)
    -var heading = blogData[i].heading;var date = blogData[i].date;var author = blogData[i].author;var body = blogData[i].body;
    +blogPostMixin(heading, date, author, body)
  