doctype html
html
  head
    title #{title} | microblogging
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='images/favicon.png', type='image/png')

  body
    div.container-fluid.col-md-6.main
      nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href='/')
          h3.text-info microblogging
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='#')
                | Home 
            li.nav-item
              -if(user)
                a.nav-link(href='/logout') Logout
              -else
                a.nav-link(href='/login') Login
            li.nav-item
              a.nav-link(href='#') About
        span.navbar-text.float-right
          -if(user)
            span.text-info Welcome, #{user.username}
      block content
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/popper.js")
    script(src="/javascripts/bootstrap.js")
    script(src="javascripts/comments.js")



