extends layout

block content
  .container
    h2.text-info Login
    p.lead To comment, write and interact with microblogging
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Login
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
      hr
      a.btn.btn-danger(href="/auth/google") Login using GOOGLE